#Lib and Functions

In [85]:
# import project Libriries
import pandas as pd
import numpy as np
import datetime
import math
import logging
import time
from geopy import *
from math import *
from xml.etree.ElementTree import parse
from xml.etree.ElementTree import fromstring
from datetime import timedelta
from geopy.distance import geodesic
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [86]:
#Function for split the XML data to objects, each forloop it is object
def first(doc):
  
  #rows and column for MonitoredStopVisit object
  colsMonitoredStopVisit = ['RecordedAtTime', 'ItemIdentifier', 'MonitoringRef']
  rowsMonitoredStopVisit = []

  #rows and column for MonitoredVehicleJourney object
  colsMonitoredVehicleJourney = ['LineRef', 'DirectionRef', 'PublishedLineName','OperatorRef','DestinationRef','OriginAimedDepartureTime',
                                'Bearing','Velocity','VehicleRef']
  rowsMonitoredVehicleJourney = []

  #rows and column for VehicleLocation object
  colsVehicleLocation = ['Longitude', 'Latitude']
  rowsVehicleLocation = []

  #rows and column for MonitoredCall object
  colsMonitoredCall = ['StopPointRef', 'Order','ExpectedArrivalTime','DistanceFromStop']
  rowsMonitoredCall = []

  for document in doc.iterfind('ServiceDelivery'):
    for item in document.iterfind('StopMonitoringDelivery'):
      print(item.findtext('ResponseTimestamp'))
      print(item.findtext('Status'))
      for item2 in item.iterfind('MonitoredStopVisit'):
        rowsMonitoredStopVisit.append({
                    'RecordedAtTime': item2.findtext('RecordedAtTime'), 
                    'ItemIdentifier': item2.findtext('ItemIdentifier'),
                    'MonitoringRef':item2.findtext('MonitoringRef')})
        dfMonitoredStopVisit = pd.DataFrame(rowsMonitoredStopVisit, columns = colsMonitoredStopVisit) 
        for item3 in item2.iterfind('MonitoredVehicleJourney'):
          rowsMonitoredVehicleJourney.append({
                    'LineRef': item3.findtext('LineRef'), 
                    'DirectionRef': item3.findtext('DirectionRef'),
                    'PublishedLineName':item3.findtext('PublishedLineName'),
                    'OperatorRef':item3.findtext('OperatorRef'),
                    'DestinationRef':item3.findtext('DestinationRef'),
                    'OriginAimedDepartureTime':item3.findtext('OriginAimedDepartureTime'),
                    'Bearing':item3.findtext('Bearing'),
                    'Velocity':item3.findtext('Velocity'),
                    'VehicleRef':item3.findtext('VehicleRef')})      
          dfMonitoredVehicleJourney = pd.DataFrame(rowsMonitoredVehicleJourney, columns = colsMonitoredVehicleJourney) 
          for item4 in item3.iterfind('VehicleLocation'):
            rowsVehicleLocation.append({
                    'Longitude': item4.findtext('Longitude'), 
                    'Latitude': item4.findtext('Latitude')})      
            dfrowsVehicleLocation = pd.DataFrame(rowsVehicleLocation, columns = colsVehicleLocation)
          for item5 in item3.iterfind('MonitoredCall'):
            rowsMonitoredCall.append({
                    'StopPointRef': item5.findtext('StopPointRef'), 
                    'Order': item5.findtext('Order'),
                    'ExpectedArrivalTime':item5.findtext('ExpectedArrivalTime'),
                    'DistanceFromStop':item5.findtext('DistanceFromStop')})      
            dfMonitoredCall = pd.DataFrame(rowsMonitoredCall, columns = colsMonitoredCall)

In [87]:
#This is function like def first(doc), but with this function we are creating one big object with 
#all columns of the XML file
def secondFunc(doc):
  i=1
  #all cols and rows
  colsAll = ['RecordedAtTime', 'ItemIdentifier', 'MonitoringRef','LineRef', 'DirectionRef', 'PublishedLineName','OperatorRef','DestinationRef','OriginAimedDepartureTime',
                                'Bearing','Velocity','VehicleRef','Latitude','Longitude','StopPointRef', 'Order','ExpectedArrivalTime','DistanceFromStop']
  rowsAll = []
  for document in doc.iterfind('ServiceDelivery'):
    for item in document.iterfind('StopMonitoringDelivery'):
      #print(item.findtext('ResponseTimestamp'))
      #print(item.findtext('Status'))
      for item2 in item.iterfind('MonitoredStopVisit'):
        for item3 in item2.iterfind('MonitoredVehicleJourney'):   
          for item4 in item3.iterfind('VehicleLocation'):
            i = i+1
            for item5 in item3.iterfind('MonitoredCall'):
              if item3.findtext('PublishedLineName') == '921':
                rowsAll.append({
                      'RecordedAtTime': item2.findtext('RecordedAtTime'), 
                      'ItemIdentifier': item2.findtext('ItemIdentifier'),
                      'MonitoringRef':item2.findtext('MonitoringRef'),
                      'LineRef': item3.findtext('LineRef'), 
                      'DirectionRef': item3.findtext('DirectionRef'),
                      'PublishedLineName':item3.findtext('PublishedLineName'),
                      'OperatorRef':item3.findtext('OperatorRef'),
                      'DestinationRef':item3.findtext('DestinationRef'),
                      'OriginAimedDepartureTime':item3.findtext('OriginAimedDepartureTime'),
                      'Bearing':item3.findtext('Bearing'),
                      'Velocity':item3.findtext('Velocity'),
                      'VehicleRef':item3.findtext('VehicleRef'),
                      'Longitude': item4.findtext('Longitude'), 
                      'Latitude': item4.findtext('Latitude'),
                      'StopPointRef': item5.findtext('StopPointRef'), 
                      'Order': item5.findtext('Order'),
                      'ExpectedArrivalTime':item5.findtext('ExpectedArrivalTime'),
                      'DistanceFromStop':item5.findtext('DistanceFromStop')})      
                #dfMonitoredCall = pd.DataFrame(rowsMonitoredCall, columns = colsMonitoredCall) 
                dfAll = pd.DataFrame(rowsAll, columns = colsAll)
  return dfAll

In [88]:
def dateDiff(date1, date2):
  ##
  # Python's program to calculate time difference between two datetime objects.

  datetimeFormat = '%Y-%m-%dT%H:%M:%S'
  #example format time
  #date1 = '2021-02-02T22:10:00+02:00'
  #date2 = '2021-02-02T22:00:00+02:00'

  size = len(date1)
  size2 = len(date2)

  # Slice string to remove last 6 characters from string
  date1 = date1[:size - 6]
  date2 = date2[:size2 - 6]

  diff = datetime.datetime.strptime(date1, datetimeFormat)\
    - datetime.datetime.strptime(date2, datetimeFormat)
  #print("Seconds:", diff.seconds)
  return diff.seconds

In [89]:
#Function of the distance between two coordinatesS
def coorDist(latO,lonO,latP,lonP):
  origin = (latO,lonO)
  dist = (latP,lonP)
  return geodesic(origin, dist).meters

#Data prepare for start do some Analasing

In [90]:
#data prepare, example of the .xls file after converting
df = pd.read_excel ('mon 8-20 may 10.xls')
df.Order = df.Order.astype(int)
df.VehicleRef = df.VehicleRef.astype(int)
df.sort_values(['VehicleRef', 'Order'], ascending=[True, True], inplace=True,ignore_index=True)
#sometimes colab add this column, i removing this column
df.drop('Unnamed: 0', axis='columns', inplace=True)
df

                  RecordedAtTime  ...  DistanceFromStop
0      2021-05-10T15:20:00+03:00  ...                 0
1      2021-05-10T15:20:00+03:00  ...                 0
2      2021-05-10T15:20:00+03:00  ...                 0
3      2021-05-10T15:20:00+03:00  ...                 0
4      2021-05-10T15:20:00+03:00  ...                 0
...                          ...  ...               ...
15898  2021-05-10T10:42:37+03:00  ...              8970
15899  2021-05-10T10:42:48+03:00  ...              9225
15900  2021-05-10T10:43:07+03:00  ...              9454
15901  2021-05-10T10:43:17+03:00  ...              9759
15902  2021-05-10T10:43:37+03:00  ...             10133

[15903 rows x 18 columns]

In [91]:
#Removing all data which not relevent. In specific func we are removing all data when we see distance from stop=0.
#Why? because the bus waiting in first station and distance is 0
df= df[(df.DistanceFromStop != 0)]
df = df.reset_index(drop=True)
df

                 RecordedAtTime  ...  DistanceFromStop
0     2021-05-10T15:28:16+03:00  ...              1342
1     2021-05-10T15:28:25+03:00  ...              1342
2     2021-05-10T15:29:14+03:00  ...              1342
3     2021-05-10T15:29:14+03:00  ...              1342
4     2021-05-10T15:29:14+03:00  ...              1342
...                         ...  ...               ...
9097  2021-05-10T10:42:37+03:00  ...              8970
9098  2021-05-10T10:42:48+03:00  ...              9225
9099  2021-05-10T10:43:07+03:00  ...              9454
9100  2021-05-10T10:43:17+03:00  ...              9759
9101  2021-05-10T10:43:37+03:00  ...             10133

[9102 rows x 18 columns]

In [92]:
#dfPrev this is help dataframe
dfPrev = df.loc[[0]]
df2 = dfPrev
df2 = df2[0:0]
df2

Empty DataFrame
Columns: [RecordedAtTime, ItemIdentifier, MonitoringRef, LineRef, DirectionRef, PublishedLineName, OperatorRef, DestinationRef, OriginAimedDepartureTime, Bearing, Velocity, VehicleRef, Latitude, Longitude, StopPointRef, Order, ExpectedArrivalTime, DistanceFromStop]
Index: []

In [93]:
#creating and sorting data by routes.
for x in range(df.shape[0]):
  if dfPrev['Order'][0] != df['Order'][0]:
    df2 = df2.append(dfPrev, ignore_index=True)
    #print(dfPrev['Order'][0])
    dfPrev = df.loc[[0]]
  else:
    dfPrev = df.loc[[0]]
    #print('prev'])

  df.drop(df.index[0], inplace=True)
  df = df.reset_index(drop=True)
df2 = df2.append(dfPrev, ignore_index=True)

In [94]:
df2.to_excel('final.xls')

#Step 2 for data prepare

In [95]:
#Loading the data after sorting
df2 = pd.read_excel ('final.xls')
df2.sort_values(['RecordedAtTime'], ascending=[True], inplace=True,ignore_index=True)
#sometimes no need this row
df2.drop('Unnamed: 0', axis='columns', inplace=True)
df2

                RecordedAtTime  ...  DistanceFromStop
0    2021-05-10T08:38:21+03:00  ...              1787
1    2021-05-10T08:39:07+03:00  ...              2024
2    2021-05-10T08:39:52+03:00  ...              3048
3    2021-05-10T08:41:05+03:00  ...              3833
4    2021-05-10T08:42:05+03:00  ...              4494
..                         ...  ...               ...
268  2021-05-10T17:33:44+03:00  ...              1662
269  2021-05-10T17:33:44+03:00  ...              1662
270  2021-05-10T17:33:44+03:00  ...              1662
271  2021-05-10T17:33:44+03:00  ...              1662
272  2021-05-10T17:33:44+03:00  ...              1662

[273 rows x 18 columns]

In [96]:
#file with 921 route of the our first station. 
#Lat, Lon - this is coordinate of the station
#Dist -  this is distance from first station
#Station - this is the number of the station
dfBus = pd.read_excel ('921_13Station.xlsx')
dfBus = dfBus.set_index('Station')
dfBus

         Dist        Lat        Lon
Station
42658     0.0  32.793372  34.958985
42362     1.3  32.789609  34.962117
40964     1.9  32.784590  34.962626
40958     2.2  32.781207  34.962876
40897     3.2  32.772031  34.962995
40852     4.1  32.764238  34.961821
42286     4.6  32.759921  34.961275
40851     5.5  32.752365  34.962668
41457     7.2  32.737043  34.966128
41621     8.4  32.725875  34.966216
41643     9.4  32.717596  34.968597
40850     9.9  32.713239  34.970693
42963    10.3  32.710042  34.970338

In [97]:
#StationTime this is time with our fixing to the station
#ArriavalTime this is time of the model which running on server(Bad model)
avrgVel = df2["Velocity"].mean()
df2['StationTime'] = 'default value'
df2['ArrivalTime'] = 'default value'
df2

                RecordedAtTime  ItemIdentifier  ...    StationTime    ArrivalTime
0    2021-05-10T08:38:21+03:00        37121321  ...  default value  default value
1    2021-05-10T08:39:07+03:00        59348489  ...  default value  default value
2    2021-05-10T08:39:52+03:00        63933431  ...  default value  default value
3    2021-05-10T08:41:05+03:00        90747013  ...  default value  default value
4    2021-05-10T08:42:05+03:00       116452799  ...  default value  default value
..                         ...             ...  ...            ...            ...
268  2021-05-10T17:33:44+03:00      1493989457  ...  default value  default value
269  2021-05-10T17:33:44+03:00      1498552452  ...  default value  default value
270  2021-05-10T17:33:44+03:00      1498552438  ...  default value  default value
271  2021-05-10T17:33:44+03:00      1493989477  ...  default value  default value
272  2021-05-10T17:33:44+03:00      1493989464  ...  default value  default value

[273 rows x 20 columns]

In [98]:
#in this forloop we are searching the time between station.
#ArrivalTime - this is time between station of the Misrad Tahbura model
#StationTime - this is time vetween station which we are finding, we are taking RecordedTime - DepurtureTime + tikun to the station.
for i in range(df2.shape[0]):
  data1 = df2['RecordedAtTime'][i]
  data2 = df2['OriginAimedDepartureTime'][i]
  data3 = df2['ExpectedArrivalTime'][i]
  k = df2['StopPointRef'][i]
  arr = dfBus.loc[[k][0]]
  x = coorDist(arr[1],arr[2],df2['Latitude'][i],df2['Longitude'][i])

  df2['StationTime'][i] = dateDiff(data1, data2) + (x/(avrgVel/3.6))
  df2['ArrivalTime'][i] = dateDiff(data3, data2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [99]:
df2.to_excel('final.xls')
df2

                RecordedAtTime  ItemIdentifier  ...  StationTime  ArrivalTime
0    2021-05-10T08:38:21+03:00        37121321  ...      509.149          501
1    2021-05-10T08:39:07+03:00        59348489  ...      560.153          540
2    2021-05-10T08:39:52+03:00        63933431  ...      604.037          600
3    2021-05-10T08:41:05+03:00        90747013  ...      682.939          720
4    2021-05-10T08:42:05+03:00       116452799  ...      735.366          780
..                         ...             ...  ...          ...          ...
268  2021-05-10T17:33:44+03:00      1493989457  ...      685.797          720
269  2021-05-10T17:33:44+03:00      1498552452  ...      563.818          540
270  2021-05-10T17:33:44+03:00      1498552438  ...      539.444          540
271  2021-05-10T17:33:44+03:00      1493989477  ...      882.011          960
272  2021-05-10T17:33:44+03:00      1493989464  ...      716.926          780

[273 rows x 20 columns]

#Removing not relevant features

In [100]:
#Removing not relevant tabels
df2.drop('ItemIdentifier', axis='columns', inplace=True)
df2.drop('MonitoringRef', axis='columns', inplace=True)
df2.drop('LineRef', axis='columns', inplace=True)
df2.drop('DirectionRef', axis='columns', inplace=True)
df2.drop('OperatorRef', axis='columns', inplace=True)
df2.drop('DestinationRef', axis='columns', inplace=True)
df2.drop('Bearing', axis='columns', inplace=True)
df2.drop('Velocity', axis='columns', inplace=True)
df2.drop('VehicleRef', axis='columns', inplace=True)
df2.drop('Latitude', axis='columns', inplace=True)
df2.drop('Longitude', axis='columns', inplace=True)
df2.drop('StopPointRef', axis='columns', inplace=True)
df2.drop('DistanceFromStop', axis='columns', inplace=True)
df2.drop('ExpectedArrivalTime', axis='columns', inplace=True)
df2

                RecordedAtTime  PublishedLineName  ... StationTime  ArrivalTime
0    2021-05-10T08:38:21+03:00                921  ...     509.149          501
1    2021-05-10T08:39:07+03:00                921  ...     560.153          540
2    2021-05-10T08:39:52+03:00                921  ...     604.037          600
3    2021-05-10T08:41:05+03:00                921  ...     682.939          720
4    2021-05-10T08:42:05+03:00                921  ...     735.366          780
..                         ...                ...  ...         ...          ...
268  2021-05-10T17:33:44+03:00                921  ...     685.797          720
269  2021-05-10T17:33:44+03:00                921  ...     563.818          540
270  2021-05-10T17:33:44+03:00                921  ...     539.444          540
271  2021-05-10T17:33:44+03:00                921  ...     882.011          960
272  2021-05-10T17:33:44+03:00                921  ...     716.926          780

[273 rows x 6 columns]

In [101]:
#Sorting the data
df2.StationTime = df2.StationTime.astype(int)
df2.sort_values(['RecordedAtTime', 'Order'], ascending=[True, True], inplace=True,ignore_index=True)
df2

                RecordedAtTime  PublishedLineName  ... StationTime  ArrivalTime
0    2021-05-10T08:38:21+03:00                921  ...         509          501
1    2021-05-10T08:39:07+03:00                921  ...         560          540
2    2021-05-10T08:39:52+03:00                921  ...         604          600
3    2021-05-10T08:41:05+03:00                921  ...         682          720
4    2021-05-10T08:42:05+03:00                921  ...         735          780
..                         ...                ...  ...         ...          ...
268  2021-05-10T17:33:44+03:00                921  ...         882          960
269  2021-05-10T17:33:44+03:00                921  ...         962         1020
270  2021-05-10T17:33:44+03:00                921  ...        1022         1080
271  2021-05-10T17:33:44+03:00                921  ...        1054         1140
272  2021-05-10T17:33:44+03:00                921  ...        1077         1140

[273 rows x 6 columns]

#Converting time to hours, minutes seconds

In [102]:
#Featerus for RecordetAtTime column
df2['A_Hours'] = 0
df2['A_Minutes'] = 0
df2['A_Seconds'] = 0
#Featerus for OriginAimedDepartureTime 
df2['D_Hours'] = 0
df2['D_Minutes'] = 0
#feature for weeday name
df2['WeekDay'] = 'NA'
df2.head(12)

               RecordedAtTime  PublishedLineName  ... D_Minutes  WeekDay
0   2021-05-10T08:38:21+03:00                921  ...         0       NA
1   2021-05-10T08:39:07+03:00                921  ...         0       NA
2   2021-05-10T08:39:52+03:00                921  ...         0       NA
3   2021-05-10T08:41:05+03:00                921  ...         0       NA
4   2021-05-10T08:42:05+03:00                921  ...         0       NA
5   2021-05-10T08:43:23+03:00                921  ...         0       NA
6   2021-05-10T08:44:34+03:00                921  ...         0       NA
7   2021-05-10T08:45:20+03:00                921  ...         0       NA
8   2021-05-10T08:46:05+03:00                921  ...         0       NA
9   2021-05-10T08:47:05+03:00                921  ...         0       NA
10  2021-05-10T08:47:51+03:00                921  ...         0       NA
11  2021-05-10T09:04:00+03:00                921  ...         0       NA

[12 rows x 12 columns]

In [103]:
#Spliting data for departure time column
for i in range(df2.shape[0]):
  hours = df2['OriginAimedDepartureTime'][i]
  minutes = df2['OriginAimedDepartureTime'][i]
  sec = df2['OriginAimedDepartureTime'][i]
  size = len(hours)
  hours = hours[:size - 12]
  hours = hours[11:]
  minutes = minutes[:size - 9]
  minutes = minutes[14:]
  sec = sec[:size - 6]
  sec = sec[17:]
  df2['D_Hours'][i] = int(hours)
  df2['D_Minutes'][i] = int(minutes)
df2.drop('OriginAimedDepartureTime', axis='columns', inplace=True)
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                RecordedAtTime  PublishedLineName  ...  D_Minutes  WeekDay
0    2021-05-10T08:38:21+03:00                921  ...         30       NA
1    2021-05-10T08:39:07+03:00                921  ...         30       NA
2    2021-05-10T08:39:52+03:00                921  ...         30       NA
3    2021-05-10T08:41:05+03:00                921  ...         30       NA
4    2021-05-10T08:42:05+03:00                921  ...         30       NA
..                         ...                ...  ...        ...      ...
268  2021-05-10T17:33:44+03:00                921  ...         25       NA
269  2021-05-10T17:33:44+03:00                921  ...         25       NA
270  2021-05-10T17:33:44+03:00                921  ...         25       NA
271  2021-05-10T17:33:44+03:00                921  ...         25       NA
272  2021-05-10T17:33:44+03:00                921  ...         25       NA

[273 rows x 11 columns]

In [104]:
#Spliting data for RecordedAtTime column and converting the date weekday
for i in range(df2.shape[0]):
  hours = df2['RecordedAtTime'][i]
  minutes = df2['RecordedAtTime'][i]
  sec = df2['RecordedAtTime'][i]
  year = df2['RecordedAtTime'][i]
  month = df2['RecordedAtTime'][i]
  day = df2['RecordedAtTime'][i]
#Spliting for hours, minutes, seconds
  size = len(hours)
  hours = hours[:size - 12]
  hours = hours[11:]
  minutes = minutes[:size - 9]
  minutes = minutes[14:]
  sec = sec[:size - 6]
  sec = sec[17:]
#Spliting the date and find the weekday
  year = year[:size - 21]
  year = year[0:]
  month = month[:size - 18]
  month = month[5:]
  day = day[:size - 15]
  day = day[8:]
  now = datetime.datetime(int(year),int(month),int(day))
  df2['WeekDay'][i] = now.strftime("%A") 
  df2['A_Hours'][i] = int(hours)
  df2['A_Minutes'][i] = int(minutes)
  df2['A_Seconds'][i] = int(minutes)
df2.drop('RecordedAtTime', axis='columns', inplace=True)
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     PublishedLineName  Order  StationTime  ... D_Hours  D_Minutes  WeekDay
0                  921      3          509  ...       8         30   Monday
1                  921      4          560  ...       8         30   Monday
2                  921      5          604  ...       8         30   Monday
3                  921      6          682  ...       8         30   Monday
4                  921      7          735  ...       8         30   Monday
..                 ...    ...          ...  ...     ...        ...      ...
268                921      9          882  ...      17         25   Monday
269                921     10          962  ...      17         25   Monday
270                921     11         1022  ...      17         25   Monday
271                921     12         1054  ...      17         25   Monday
272                921     13         1077  ...      17         25   Monday

[273 rows x 10 columns]

In [105]:
#fixing the columns with column stationtime
for i in range(df2.shape[0]):
  my_time_m = int(df2['StationTime'][i]/60)
  my_time_s = int(df2['StationTime'][i]%60)
  df2['A_Hours'][i] = int(df2['A_Hours'][i])
  df2['A_Minutes'][i] = int(df2['A_Minutes'][i]) + my_time_m
  df2['A_Seconds'][i] = int(df2['A_Seconds'][i]) + my_time_s

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [106]:
#fixing the seconds column if the data more then 60
for i in range(df2.shape[0]):
  if df2['A_Seconds'][i] >=60:
    #print(i)
    df2['A_Minutes'][i] = df2['A_Minutes'][i] +1
    df2['A_Seconds'][i] = df2['A_Seconds'][i] - 60

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [107]:
#fixing the minutes column if the data more then 60
for i in range(df2.shape[0]):
  if df2['A_Minutes'][i] >=60:
    #print(i)
    df2['A_Hours'][i] = df2['A_Hours'][i] +1
    df2['A_Minutes'][i] = df2['A_Minutes'][i] - 60

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [108]:
#The final df saving to file.
#Now we can start work and do data analysing
df2 = df2[['WeekDay','A_Hours','A_Minutes','A_Seconds','D_Hours','D_Minutes','PublishedLineName','Order','StationTime','ArrivalTime']]
df2.to_excel('final.xls')
df2

    WeekDay  A_Hours  A_Minutes  ...  Order  StationTime  ArrivalTime
0    Monday        8         47  ...      3          509          501
1    Monday        8         48  ...      4          560          540
2    Monday        8         49  ...      5          604          600
3    Monday        8         53  ...      6          682          720
4    Monday        8         54  ...      7          735          780
..      ...      ...        ...  ...    ...          ...          ...
268  Monday       17         48  ...      9          882          960
269  Monday       17         49  ...     10          962         1020
270  Monday       17         50  ...     11         1022         1080
271  Monday       17         51  ...     12         1054         1140
272  Monday       17         51  ...     13         1077         1140

[273 rows x 10 columns]